.biru {
  background-color: #3a4f7a;
}
.hijau {
  background-color: #51bf99;
}
.card {
  width: 240px;
  height: 300px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2),
    inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
}

.card:active {
  transform: scale(0.95);
  border: 1px solid blue;
  /*animation: 0.3s click cubic-bezier(.42,0,.58,1);*/
}
/*
@keyframes click{
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(0.95);
  }
  to{
    transform: scale(1);
  }
}
*/

.wave {
  position: absolute;
  width: 345px;
  height: 249px;
  left: -14px;
  top: -75px;
  background: linear-gradient(0deg, #3a4f7a 4.51%, #316498 100%);
}
