.biru {
  background-color: #3a4f7a;
}
.hijau {
  background-color: #51bf99;
}
.card {
  /* background-image: url(/assets/images/Vector 1.png); */
  width: 240px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 26px;
  box-shadow: 0px 4px 27px 13px rgba(0, 0, 0, 0.05);

  transition: all 0.3s;
  cursor: pointer;
}

/* .card:hover {
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
} */

.card:active {
  transform: scale(0.95);
  border: 1px # 3a4f7a;
  /*animation: 0.3s click cubic-bezier(.42,0,.58,1);*/
}

.card-text-head {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.card-text-expert {
  font-style: italic;
  font-size: 14px;
  text-align: center;
}

.keahlian {
width: 240px;
background: linear-gradient(180deg, #316498 0%, #3A4F7A 100%);
/* card */
box-shadow: 0px 4px 27px 13px rgba(0, 0, 0, 0.05);
border-radius: 30px;
}

.back {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
}

.front {
  position: absolute;
  z-index: 2;
}

.fronts {
  position: relative;
  z-index: 2;
}

.marg-left {
  margin-left: 4.5rem;
}
/* .card img:hover {
  box-shadow: 20px 0px 0px 0px rgba(157, 177, 255, 0.5);
} */

.search:hover {
  box-shadow: 20px 20px 50px 0px rgba(157, 177, 255, 0.5);
}

.rekomendasi:hover {
  box-shadow: 0px 4px 10px 13px rgba(81, 191, 153, 0.25);
}

.button {
  font-size: 12px;
  background: #3a4f7a;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.2em) rotate(90deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

.image {
  /* margin: auto; */
  height: 100px;
  width: 100px;
}

.image-search {
  height: 80px;
  width: 80px;
}


.search-card:active {
  transform: scale(0.95);
  /*animation: 0.3s click cubic-bezier(.42,0,.58,1);*/
}

hr {
  border: none;
  border-top: 2px solid #3a4f7a;
  width: screen;
}

.font-profile {
font-size: 12px;
color: #3a4f7a;
}

.ww-99 {
width: 73.3rem;
}

#namdos {
width: screen;
}

.sc {
width: screen;
}

.input {
  border: 1px solid #3a4f7a;
}

<<<<<<< HEAD
.button-profile {
=======

  .w-99 {
    width: 32rem;
  }

  .button-profile {
>>>>>>> d03d40c1b2c16f945b86ebb498784a4727ced2b6
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-profile:hover {
  background-color: #3a4f7a;
  box-shadow: 0px 15px 20px rgba(58, 79, 122, 0.5);
  color: #fff;
  transform: translateY(-7px);
<<<<<<< HEAD
}

.button-profile:active {
  transform: translateY(-1px);
}
  
=======
}

.button-profile p {
  font-size: 10px;
}

.button-profile:active {
  transform: translateY(-1px);
}

.active {
  background-color: #3a4f7a;
  box-shadow: 0px 15px 20px rgba(58, 79, 122, 0.5);
  color: #fff;
  transform: translateY(-7px);
}


.nama-dosen {
  font-size: 20px;
}

.profile-box {
  width: 1200px;
  box-shadow: 0px 4px 27px 13px rgba(0, 0, 0, 0.05);

}

.tulisan-biru {
  color: #3a4f7a;
}

.cari-filter {
 width: 6em;
 height: 3em;
 border-radius: 30em;
 font-size: 15px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 6px 6px 12px #c5c5c5,
            -6px -6px 12px #ffffff;
}

.cari-filter::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #316498 0%, #3A4F7A 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
 color: white;

}

.cari-filter:hover::before {
 width: 9em;

}
>>>>>>> d03d40c1b2c16f945b86ebb498784a4727ced2b6

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
  

/*
@keyframes click{
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(0.95);
  }
  to{
    transform: scale(1);
  }
}
*/
}