.biru {
  background-color: #3a4f7a;
}
.hijau {
  background-color: #51bf99;
}
.card {
  /* background-image: url(/assets/images/Vector 1.png); */
  width: 240px;
  height: 300px;
  backdrop-filter: blur(7px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.2),
    inset -8px -8px 16px 0px rgba(157, 177, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);
  transition: all 0.3s;
  cursor: pointer;
}

/* .card:hover {
  box-shadow: 35px 35px 68px 0px rgba(157, 177, 255, 0.5);
} */

.card:active {
  transform: scale(0.95);
  border: 1px solid blue;
  /*animation: 0.3s click cubic-bezier(.42,0,.58,1);*/
}

.card-text-head {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.card-text-expert {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

.back {
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
}

.front {
  position: absolute;
  z-index: 2;
}

.marg-left {
  margin-left: 4.5rem;
}
/* .card img:hover {
  box-shadow: 20px 0px 0px 0px rgba(157, 177, 255, 0.5);
} */

.search:hover {
  box-shadow: 20px 20px 50px 0px rgba(157, 177, 255, 0.5);
}

.rekomendasi:hover {
  box-shadow: 0px 4px 10px 13px rgba(81, 191, 153, 0.25);
}

.button {
  font-size: 12px;
  background: #3a4f7a;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.2em) rotate(90deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

.image {
  /* margin: auto; */
  height: 100px;
  width: 100px;
}

hr {
  border: none;
  border-top: 2px solid #3a4f7a;
  width: 74.5vw;
}

.input {
  border: 1px solid #3a4f7a;
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/*
@keyframes click{
  from{
    transform: scale(1);
  }
  50%{
    transform: scale(0.95);
  }
  to{
    transform: scale(1);
  }
}
*/
